@import "../footer/default";

// ----- Theme Style ----- //

#top-footer {
  .container {
    .row {
      @include align-items(center);
      .top-footer-nav {
        > ul { // #menu-top-footer-menu .navbar-nav
          @include flex-direction(row);
          @include justify-content(center);
          > li { // .nav-item
            > a { // .nav-link
              padding: 1rem 1.25rem;
              font-weight: 900;
              color: $font-color-ng;
              &:hover {
                color: $font-color-ng-ac;
              }
            }
          }
        }
      }
      .top-footer-social-links {
        .social_links {
          a {
            color: #fff;
            &:hover {
              color: $accent-color;
            }
          }
        }
      }
    }
  }
}
#main-footer {
  .container {
    position: relative;
    footer { // #footer-sidebar .row .widget-area
      color:#e9e9e9;
      padding: 4rem 0 2rem 0;
      a {
        color: #e9e9e9;
      }
      > div {
        // footer sidebar columns bottom margins
        margin-bottom: 1.25rem;
      }
      #footer-sidebar4 {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        .widget {
          margin-bottom: 0;
          img {
            max-height: 12rem;
            object-fit: contain;
            font-family: 'object-fit: contain;';
          }
        }
      }
    }
  }
}
#bottom-footer {
  .container {
    .row {
      padding: 1.25rem 0;
      > div {
        &:nth-of-type(1) { // column 1
          padding-bottom: 45px;
          text-align: center;
          .site-footer {
            .site-info {
              @include rfs(11);
            }
          }
        }
        &:nth-of-type(2) { // column 2
          position: absolute;
          left: 0;
          bottom: 0;
          text-align: center;
          background-color: #222;
          border-top: 1px solid #444;
          .btn-group {
            width: 100%;
            button { // .btn-colophon .dropdown-toggle .btn
              width: 100%;
              padding: 12px;
              background-color: #222;
              color: #e9e9e9;
              border-color: #222;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  #top-footer {
    .container {
      .row {
        .top-footer-nav {
          > ul { // #menu-top-footer-menu .navbar-nav
            @include justify-content(flex-start);
            > li { // .nav-item
              > a { // .nav-link
                padding: 0.75rem 1.25rem;
              }
              &:nth-of-type(1) {
                > a {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  #main-footer {
    padding: 4rem 0 2rem 0;
    .container {
      footer { // #footer-sidebar .row .widget-area
        > div {
          // footer sidebar columns bottom margins
          margin-bottom: 1.25rem;
        }
      }
    }
  }
  #bottom-footer {
    .container {
      .row {
        padding: 1.5rem 0;
        > div {
          &:nth-of-type(1) { // column 1
            // mobile properties reset
            padding-bottom: 0;
            text-align: left;
          }
          &:nth-of-type(2) { // column 2
            position: relative;
            background-color: transparent;
            border-top: none;
            text-align: right;
            .btn-group {
              width: auto;
              button { // .btn-colophon .dropdown-toggle .btn
                width: auto;
                padding: .5rem 1rem;
                @include rfs(12);
                background-color: #6c757d;
                color: #e9e9e9;
                border-radius: .25rem;
              }
            }
          }
        }
      }
    }
  }
}

