@import "../header/default";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "../header/transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
@import "../header/logo-left";
// @import "../header/logo-center";
// @import "../header/logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "../header/fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
@import "top-header";

/* ----- Theme Custom ----- */
// --- Responsive fullwidth border-top bar design --- //
#top-header {
  border-top: none;
}
#main-header {
  border-top: 5px solid;
}
@include media-breakpoint-up($breakpoint__mobile-nav) {
  #top-header {
      border-top: 5px solid;
  }
  #main-header {
      border-top: none;
  }
}


@include media-breakpoint-up($breakpoint__mobile-nav) {
  .site-header { // #masthead
    #main-header {
      .container {
        .site-branding {
          // Logo PC positioning
          // margin-top: -35px;
        }
      }
    }
    // Fixed header settings
    &.sticky {
      #main-header {
        .container {
          .site-branding {
            // PC fixed header logo repositioning
            // margin-top: 20px;
          }
        }
      }
    }
  }
}
