@include media-breakpoint-down(md) {
    #mobile-header-widget-1 {
        display: block;
        position: absolute;
        // IE Fix
        top: 50%;
        transform: translateY(-50%);
        //
        left: 0;
        margin-left: 1rem;
        .mobile-login {
            a {
                @include rfs(26);
            }
        }
    }
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
    #mobile-header-widget-1 {
        display: none;
    }
}