@import "../header/default";

/*--------------------------------------------------------------
## Header background: block / transparent
--------------------------------------------------------------*/
// @import "../header/transparent";

/*--------------------------------------------------------------
## Logo position: logo-center / logo-right
--------------------------------------------------------------*/
@import "../header/logo-left";
// @import "../header/logo-center";
// @import "../header/logo-right";

/*--------------------------------------------------------------
## Header on scroll: block / fixed
--------------------------------------------------------------*/
@import "../header/fixed";

/*--------------------------------------------------------------
## Top header
--------------------------------------------------------------*/
@import "top-header";

// ----- Mobile ----- //
// Logo design
.site-branding {
  padding: 5px;
  border-radius: 100px;
}

@include media-breakpoint-up($breakpoint__mobile-nav) {
  .site-header { // #masthead
    #main-header {
      .container {
        .site-branding {
          // Logo PC positioning
          margin-top: -35px;
        }
      }
    }
    // Fixed header settings
    &.sticky {
      #main-header {
        .container {
          .site-branding {
            // PC fixed header logo repositioning
            margin-top: 20px;
          }
        }
      }
    }
  }
}
